* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.3);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}


.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.btn {
    padding: 12px 25px;
    background: white;
    color: #764ba2;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: #f0f0f0;
}


.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.feature-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(5px);
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
}


footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }
}